body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#footer {
    bottom: 0;
    width: 100%;
    height: fit-content;
    color: beige;
    margin: 0;
    font-family: cursive;
    text-align: center;
  }
