body {
    display: flex;
    min-height: 119vh;
    flex-direction: column;
    background-image:linear-gradient(rgba(6, 6, 235, 0.546), rgba(212, 212, 1, 0.6)), url('https://images.ctfassets.net/gg4ddi543f5b/4eFJbsSwiFKEFXQF2WUq7h/8647b8e7dd59a27cc69a1cf22975b09e/importance-of-project-management-why-choose-careeer-in-project-management.png');
}

main {
    flex: 1 0 auto;
}

#footer {
    bottom: 0;
    width: 100%;
    height: fit-content;
    color: beige;
    margin: 0;
    font-family: cursive;
    text-align: center;
  }

img {
    position: absolute;
    width: 100%;
    filter: brightness(65%);
    z-index: -3;
}

#main_page {
    /*background-color:rgba(27, 27, 29, 0.3);
    backdrop-filter: blur(12px);*/
    width: 60%;
    text-align: center;
    font-family: cursive;
    color: rgb(251, 251, 251);
    filter: brightness(120%);
}


