{% extends "base.html" %}
{% block content %}

<h3 class="text-primary text-center mt-4" style="font-family: cursive;">Meetings</h3>

<div class="d-grid gap-2 col-3 mt-2 mx-auto">
    <a href="{{ url_for('add_meeting')}}" class="btn btn-primary" role="button" style="color: beige; font-family: cursive;">Add Meeting</a>
</div>


<div class="row mb-4 mt-4">
    {% for row in meetings%}
    <div class="col-sm-4 mb-sm-2">
      <div class="card text-bg-primary">
        <div class="card-body" style="color: beige; font-family: cursive;">
          <h4 class="card-title">{{row[1]}}</h4>
          <h5 class="card-title">Date: {{row[2]}}</h5>
          <h5 class="card-title">Time: {{row[3]}}</h5>
          <h5 class="card-title">Department Of {{row[4]}}</h5>
          <p class="card-text">{{row[5]}}</p>
          <a href="/edit/{{row[0]}}" class="btn btn-warning btn-sm">Edit</a>
          <a href="/delete {{row[0]}}" class="btn btn-danger btn-delete btn-sm">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


{% endblock %}