{% extends "base.html" %}
{% block content %}

<h3 class="text-primary text-center mt-4">Tasks</h3>

<div class="d-grid gap-2 col-3 mt-2 mx-auto">
    <a href="{{ url_for('add_task')}}" class="btn btn-primary" role="button" style="color: beige; font-family: cursive;">Add Task</a>
</div>
  

<div class="row mb-4 mt-4">
    {% for row in tasks%}
    <div class="col-sm-4 mb-sm-0">
      <div class="card text-bg-primary">
        <div class="card-body" style="color: beige; font-family: cursive;">
          <h4 class="card-title">{{row[1]}}</h4>
          <h5 class="card-title">Due Date: {{row[2]}}</h5>
          <h5 class="card-title">{{row[3]}}</h5>
          <h5 class="card-title">Urgent: <span style="color: rgb(254, 254, 7);">{{row[4]}}</span></h5>
          <p class="card-text">{{row[5]}}</p>
          <a href="/edit_tasks/{{row[0]}}" class="btn btn-warning btn-sm">Edit</a>
          <a href="/delete_tasks {{row[0]}}" class="btn btn-danger btn-delete btn-sm">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


{% endblock %}